<h1>Demands#index</h1>
<p>Find me in app/views/demands/index.html.erb</p>
<% @demands.reverse_each do |demand| %>
 <p><span>name: </span><%=link_to demand.user.name, "/demands/#{demand.id}"%></p>
  <p><span>要望内容: </span><%=demand.body%></p>
<% end %>
<%= link_to "トップページへ戻る", root_path %>