<h1>Courses#edit</h1>
<p>Find me in app/views/courses/edit.html.erb</p>
<%= form_tag("/courses/#{@course.id}/update") do %>
 <form>
  <div class="form-group">
   <label for="exampleInputEmail1">編集する</label>
   <textarea name="plan" class="form-control"><%= @course.plan %></textarea>
  </div>  

  <form>
  <div class="form-group">
  <label for="exampleInputEmail">編集する</label>
   <textarea　name="tag_list" class="form-control"><%= @course.tag_list.join(",") %></textarea>
  </div>
  <button type="submit" class="btn btn-primary">保存</button>
<% end %>